/*  Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --bg-color: white;
  --primary-color: #000;
  --secondary-color: #009b34;
  --transition: all ease-in-out 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar section */

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--primary-color);
}
/* ============================================================== */
/* Start Navigation */
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}

nav a:hover {
  color: var(--secondary-color);
}

nav ul {
  display: flex;
  align-items: center;
  gap: 5rem;
}

nav ul li {
  font-weight: var(--bold-font);
}
/* End Navigation */
/* ============================================================== */
/* Start Home */
.home {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5rem;
}

.greeting {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.greeting-name {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 5px;
  margin-bottom: 1rem;
}

.greeting-job {
  font-size: 2rem;
  color: var(--secondary-color);
}

.about-me {
  width: 100%;
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.about-me:hover .about-me-icon {
  cursor: pointer;
  color: var(--secondary-color);
  transform: scale(1.2);
  transition: var(--transition);
}

.media-logo {
  width: fit-content;
  display: flex;
  justify-content: start;
  gap: 3.5rem;
  font-size: 1.5rem;
}

.logo:hover {
  color: var(--secondary-color);
  transform: scale(1.5);
  transition: var(--transition);
}

.profile-pic img {
  height: 30rem;
  border-radius: 50%;
  padding: 1rem;
  border: 1rem solid var(--secondary-color);
  box-shadow: rgb(41, 98, 160) 0px 25px 35px -10px;
}
/* end of home section */
/* Start about */
.about {
  padding: 5rem;
  margin-top: 2rem;
}

.about > h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.about-image {
  width: 20vw;
  margin: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.about-detail {
  margin-top: 1rem;
  display: flex;
  padding: 1rem;
}

.about-detail p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.about-contact {
  width: fit-content;
  margin-top: 2rem;
  padding: 0.8rem 1.8rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  cursor: pointer;
}

.about-contact:hover {
  background-color: #5ca162;
  color: #ffffff;
  transform: scale(1.09);
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* End about */
/* ============================================================== */
/* Start Skill */
.what-i-do {
  padding: 5rem 1rem;
}

.what-i-do > h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.cards {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 22.5rem;
  padding: 1rem 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  text-align: center;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.04);
  transition: all 0.5s 0s ease-in-out;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-icon1 {
  font-size: 3rem;
  font-weight: bold;
  color: purple;
}

.card-icon2 {
  font-size: 3rem;
  font-weight: bold;
  color: #eb1e39;
}

.card-icon3 {
  font-size: 3rem;
  font-weight: bold;
  color: #3835d8;
}
/* End Skill */
/* ============================================================== */
/* Start Projects */
.project {
  display: flex;
  flex-direction: column;
  padding: 5rem 1rem;
}
.project > h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.wrapper {
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.projects-card {
  width: 30%;
  height: 40vh;
  margin: 20px 10px;
  border: 1px solid rgb(243, 242, 242);
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
}
.project-browser {
  height: 20px;
  padding-right: 5px;
  background-color: rgb(221, 220, 220);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: sticky;
  z-index: 2;
}
.browser-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 3px;
  background-color: white;
}

.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.red {
  background-color: red;
}

.browser-img {
  width: 100%;
  transition: all 8s ease-in-out;
}

.project-card:hover,
.browser-img:hover {
  transform: translateY(-100%);
}

/* End Project */
/* ============================================================== */
/* Start Academic */
.academic {
  padding: 5rem;
}

.academic > h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.degree {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.academic-degree {
  align-items: center;
  display: flex;
  margin-left: 30%;
  gap: 3rem;
}

.academic-degree h1 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--secondary-color);
}

.academic-degree h3 {
  margin-bottom: 0.5rem;
  font-weight: normal;
}

.academic-degree p {
  font-style: italic;
}
.acd-icon {
  font-size: 4rem;
  font-weight: bold;
}

.fix-icon {
  width: 80px;
  height: 64px;
}

/* End Academic */
/* ============================================================== */
/* Start Contact form */
.contact-form {
  padding: 5rem;
  display: flex;
  flex-direction: column;
}
.contact-form > h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.form-inputName {
  display: flex;
  justify-content: space-between;
}

.form-inputName > input {
  width: 50%;
  font-size: 1.2rem;
  background: transparent;
  color: gray;
  margin-top: 2rem;
  padding: 1rem;
  outline: none;
  border: none;
  border-bottom: solid 1px gray;
}

.form-inputName > input:focus {
  border-bottom: solid 2px green;
}

.firstName {
  margin-right: 1rem;
}

.form-input > input {
  font-size: 1.2rem;
  background: transparent;
  color: gray;
  margin-top: 2rem;
  padding: 1rem;
  outline: none;
  border: none;
  border-bottom: solid 1px gray;
}

.form-input > input:focus {
  border-bottom: solid 2px green;
}

.input-message {
  padding: 1rem;
  font-size: 1.2rem;
  margin-top: 2rem;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: solid 1px gray;
}

.input-message:focus {
  border-bottom: solid 2px green;
}

.form-submit {
  margin-top: 2rem;
  width: fit-content;
  padding: 1rem 2rem;
  background-color: green;
  border: none;
  border-radius: 5rem;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}
/* End Contact Form */
/* ============================================================== */
/* Start Footer */
footer {
  background-color: whitesmoke;
}

.f-wrapper {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.f-wrapper p {
  color: gray;
  margin-left: 2rem;
  padding: 0.5rem;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.footer-top h2 {
  font-weight: bold;
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  margin-top: 1.5rem;
  width: fit-content;
  display: flex;
  justify-content: start;
  gap: 1rem;
  font-size: 1.5rem;
}

.fc-by {
  color: var(--secondary-color);
}

/* End Footer */
/* ============================================================== */

/* Start mobile responsive */
/* 0 600 900 1200 inf */
@media only screen and (max-width: 1200px) {
  /* home section */
  .greeting-name {
    font-size: 2.2rem;
  }
  .greeting-job {
    font-size: 1.5rem;
  }

  .profile-pic img {
    height: 30rem;
  }

  /* about section */
  .about-image {
    height: 15rem;
    width: 20rem;
    margin: 1.5rem;
  }

  .about-detail {
    margin-top: 1rem;
    display: flex;
    padding: 1rem;
  }

  .about-detail p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  /* skill section */
  .card {
    width: 21rem;
    gap: 1rem;
  }

  .card-icon1,
  .card-icon2,
  .card-icon3 {
    font-size: 2.8rem;
  }

  /* project section */
}

@media only screen and (max-width: 1050px) {
  .home {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
  }

  .greeting-name {
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 1rem;
  }

  .greeting-job {
    font-size: 2rem;
  }

  .profile-pic img {
    height: 25rem;
  }

  /* about section */
  .about-image {
    width: 20vw;
    margin: 1.5rem;
  }

  .about-detail {
    margin-top: 1rem;
    display: flex;
    padding: 0.8rem;
  }

  /* skill section */
  /* skill section */
  .card {
    width: 20rem;
  }

  .card-icon1,
  .card-icon2,
  .card-icon3 {
    font-size: 2.7rem;
  }

  /* project section */
  .projects-card {
    width: 28%;
    height: 35vh;
    margin: 20px 10px;
  }
}

@media only screen and (max-width: 900px) {
  .greeting-name {
    font-size: 2rem;
    letter-spacing: 3px;
    margin-bottom: 1rem;
  }

  .greeting-job {
    font-size: 1.5rem;
  }

  .profile-pic img {
    height: 20rem;
    padding: 0.5rem;
  }

  /* about section */
  .about {
    padding: 1rem;
  }
  .about-image {
    width: 20rem;
    margin: 1.2rem;
  }

  /* skill section */
  /* skill section */
  .card {
    width: 14rem;
    height: 23rem;
  }

  .card-icon1,
  .card-icon2,
  .card-icon3 {
    font-size: 2rem;
  }

  /* project section */
  .projects-card {
    width: 22%;
    height: 25vh;
    margin: 20px 10px;
  }
}
@media only screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  nav {
    width: 100%;
    margin: 0;
  }
  .navigation {
    display: none;
  }

  /* home section */
  .home {
    margin: 0rem;
    padding: 0;
    justify-content: center;
    height: 60vh;
  }

  .greeting {
    align-items: center;
  }

  .profile-pic {
    display: none;
  }

  /* about section */
  .about {
    margin-top: 0;
  }
  .about > h1 {
    margin-bottom: 0;
  }
  .about-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3rem 0 3rem;
  }

  .about-image {
    width: 12rem;
    height: 12rem;
  }

  /* skill section */
  .what-i-do {
    margin-top: 2rem;
    padding: 0;
  }

  .what-i-do > h1 {
    margin-bottom: 2rem;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .card {
    padding: 1rem;
    width: 20rem;
    font-size: 1.2rem;
  }

  /* project section */
  .project {
    margin-top: 3rem;
    padding: 0;
  }
  .project > h1 {
    margin: 0;
  }
  .wrapper {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projects-card {
    width: 18rem;
    height: 22rem;
  }

  /* academic section */
  .academic {
    padding: 0;
  }
  .degree {
    gap: 3rem;
    padding: 0 1rem;
  }

  .academic-degree {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .fix-icon {
    width: fit-content;
  }
  .academic-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* contact form section */
  .contact-form {
    margin: 3rem 0;
    padding: 0 2rem;
  }
  .contact-form > h1 {
    margin-bottom: 1rem;
  }

  .form-submit {
    padding: 0.8rem 1.2rem;
    font-size: 1rem;
  }

  /* footer section */
  .f-wrapper {
    padding: 2rem;
    align-items: center;
  }
  .footer-top {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 2rem;
  }
  .f-service,
  .f-link,
  .f-follow {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
  }

  .f-wrapper p {
    margin: 0;
  }
  .fp {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-logo {
    gap: 1.5rem;
  }
}
